@model Contratos_vers_beta.Models.DatosFiltrados
    @{
    
    ViewBag.Title = "AdminMovimientos";
}

<div class="jumbotron stylejumbo" style="margin-top:4.5rem;">
    <h1 class="display-5 text-align">Movimientos</h1>
   
</div>
<label class="select-user" for="dato">SELECCIONAR USUARIO:</label>
<form method="GET">
    <select class="input-design" name="dato">
        <option>Seleccionar...</option>
        @foreach (var cuenta in Model.usuarios)
        {

            <option value=@cuenta>@cuenta</option>
        }

    </select>

    <input class="input-design-button" type="submit" value="Aceptar" />
</form>
<div style="margin-bottom: 2rem">
    <table class="table table-bordered tabla-text-centrado table-striped table-responsive-lg" id="tablamovs">
        <thead>
            <tr>
                <th class="header-table" scope="col">Correo</th>
                <th class="header-table" scope="col">Movimiento</th>
                <th class="header-table" scope="col">Hora de movimiento</th>
                <th class="header-table" scope="col">Clave de contrato</th>
                <th class="header-table" scope="col">Nombre PDF Contrato</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.ModifiedContratos)
            {
                <tr class="hover-table">

                    <td>@data.EmailUser</td>
                    <td>@data.ExecutedAction</td>
                    <td>@data.ActionHour</td>
                    <td>@($"RHDEMO00{data.Id}")</td>
                    <td>@data.NombrePDFContrato</td>

                </tr>
            }
        </tbody>
    </table>

</div>
<script>
    $(document).ready(function () {
        $('#tablamovs').dataTable({
            language: {
                "search": "Buscar:",
                "emptyTable": "Sin información, seleccione un usuario.",
                "info": "Mostrando del _START_ al _END_ de _TOTAL_ registros",
                "infoEmpty": "No hay registros",
                "lengthMenu": "Mostrar _MENU_ movimientos",
                paginate: {
                    first: '«',
                    previous: '<',
                    next: '>',
                    last: '»'
                },
                aria: {
                    paginate: {
                        first: 'Primero',
                        previous: 'Último',
                        next: 'Siguiente',
                        last: 'Última'
                    }
                }
            }

        });
    });
</script>


