@model IList<Contratos_vers_beta.Models.Contratos>
@{
    ViewBag.Title = "ImportExcelContratos";
}


<div class="jumbotron stylejumbo" style="margin-top:4.5rem;">
    <h1 class="display-5 text-align">¡Importar archivo Excel!</h1>
    <p class="lead text-align">Seleccionar el archivo excel (libro o hoja) y revisar los datos antes de guardar los cambios.</p>
</div>

@using (Html.BeginForm("ImportExcelContratos", "Home", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
<div class="form-horizontal">
    
    <div class="input-group">
        <div class="custom-file">
            <div class="col-md-4">
                <input type="file" class="custom-file-input color-verde" name="excelfile" accept=".xlsx">
                <label class="custom-file-label" for="inputGroupFile04">Abrir archivo</label>
            </div>
        </div>
        
    </div>
    <div class="form-group" style="padding-top:10px;"> 
            <input type="submit" value="Importar" class="btn color-verde" />
    </div>

    @if (ViewData["Error"] != null)
    {
        <div class="form-group">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> @Html.Raw(ViewData["Error"])
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
}

@if (Model != null && User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("AddContratos", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
       
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Pregunta...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Seguro de guardar los datos del excel?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <input type="submit" class="btn btn-primary" value="Guardar"/>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="form-group table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model[0].CLAVE_DEL_CONTRATO)</th>
                        <th>@Html.DisplayNameFor(model => model[0].FECHA)</th>
                        <th>@Html.DisplayNameFor(model => model[0].Contrato_Convenio)</th>
                        <th>@Html.DisplayNameFor(model => model[0].Contrato_Convenio)</th>
                        <th>@Html.DisplayNameFor(model => model[0].EMPRESA)</th>
                        <th>@Html.DisplayNameFor(model => model[0].APODERADO)</th>
                        <th>@Html.DisplayNameFor(model => model[0].FIRMADO)</th>
                        <th>@Html.DisplayNameFor(model => model[0].EMPRESA_1)</th>
                        <th>@Html.DisplayNameFor(model => model[0].APODERADO_1)</th>
                        <th>@Html.DisplayNameFor(model => model[0].FIRMADO_1)</th>
                        <th>@Html.DisplayNameFor(model => model[0].EMPRESA_2)</th>
                        <th>@Html.DisplayNameFor(model => model[0].APODERADO_2)</th>
                        <th>@Html.DisplayNameFor(model => model[0].FIRMADO_2)</th>
                        <th>@Html.DisplayNameFor(model => model[0].CONTRAPRESTACION_IVA_INCLUIDO)</th>
                        <th>@Html.DisplayNameFor(model => model[0].VIGENCIA_TAL_CUAL_ESTIPULA_EL_CONTRATO)</th>
                        <th>@Html.DisplayNameFor(model => model[0].ORIGINAL_O_COPIA)</th>
                        <th>@Html.DisplayNameFor(model => model[0].OBSERVACIONES)</th>
                        <th>@Html.DisplayNameFor(model => model[0].ANIO_DE_FIRMA)</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                    <tr>
                        <td>
                            @Html.HiddenFor(x => x[i].CLAVE_DEL_CONTRATO)
                            @Html.DisplayFor(x => x[i].CLAVE_DEL_CONTRATO)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].FECHA)
                            @Html.DisplayFor(x => x[i].FECHA)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].Contrato_Convenio)
                            @Html.DisplayFor(x => x[i].Contrato_Convenio)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].Tipo_Contrato_Convenio)
                            @Html.DisplayFor(x => x[i].Tipo_Contrato_Convenio)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].EMPRESA)
                            @Html.DisplayFor(x => x[i].EMPRESA)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].APODERADO)
                            @Html.DisplayFor(x => x[i].APODERADO)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].FIRMADO)
                            @Html.DisplayFor(x => x[i].FIRMADO)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].EMPRESA_1)
                            @Html.DisplayFor(x => x[i].EMPRESA_1)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].APODERADO_1)
                            @Html.DisplayFor(x => x[i].APODERADO_1)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].FIRMADO_1)
                            @Html.DisplayFor(x => x[i].FIRMADO_1)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].EMPRESA_2)
                            @Html.DisplayFor(x => x[i].EMPRESA_2)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].APODERADO_2)
                            @Html.DisplayFor(x => x[i].APODERADO_2)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].FIRMADO_2)
                            @Html.DisplayFor(x => x[i].FIRMADO_2)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].CONTRAPRESTACION_IVA_INCLUIDO)
                            @Html.DisplayFor(x => x[i].CONTRAPRESTACION_IVA_INCLUIDO)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].VIGENCIA_TAL_CUAL_ESTIPULA_EL_CONTRATO)
                            @Html.DisplayFor(x => x[i].VIGENCIA_TAL_CUAL_ESTIPULA_EL_CONTRATO)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].ORIGINAL_O_COPIA)
                            @Html.DisplayFor(x => x[i].ORIGINAL_O_COPIA)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].OBSERVACIONES)
                            @Html.DisplayFor(x => x[i].OBSERVACIONES)
                        </td>
                        <td>
                            @Html.HiddenFor(x => x[i].ANIO_DE_FIRMA)
                            @Html.DisplayFor(x => x[i].ANIO_DE_FIRMA)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Guardar
            </button>
        </div>
    }
}