@model Contratos_vers_beta.Models.PDFContratos
@{
    ViewBag.Title = "ImportPDFContratos";
}
<div class="jumbotron stylejumbo" style="margin-top:4.5rem;">
    <h1 class="display-5 text-align">¡Importar archivo PDF!</h1>
    <p class="lead text-align">Seleccionar el archivo PDF y revisar los datos antes de guardar los cambios.</p>
</div>


@using (Html.BeginForm("ImportPDFContratos", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Contratos.Id)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FileView, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FileView, "", new { @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.FileView, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cargar" class="btn btn-primary" />
            </div>
        </div>
        @if (ViewData["Success"] != null)
        {
            <div class="form-group">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Éxito!</strong> @Html.Raw(ViewData["Success"])
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        }

        @if (ViewData["Error"] != null)
        {
            <div class="form-group">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> @Html.Raw(ViewData["Error"])
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}